@model RegisterModel

@{
    ViewData["Title"] = "Регистрация нового пользователя";
    Layout = "_LoginLayout";
}

<div>
    <h2>Регистрация нового пользователя</h2>
    <form asp-controller="Account" asp-action="Register" method="post">
        <div class="mb-3">
            <label for="email" class="form-label">Email:</label>
            <input asp-for="Email" type="email" class="form-control" id="email" required />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Пароль:</label>
            <input asp-for="Password" type="password" class="form-control" id="password" required />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="password-confirmation" class="form-label">Подтверждение пароля:</label>
            <input asp-for="PasswordConfirmation" type="password" class="form-control" id="password-confirmation" required />
            <span asp-validation-for="PasswordConfirmation" class="text-danger"></span>
        </div>

        <input type="submit" class="btn btn-primary" value="Зарегистрироваться" />
    </form>
</div>
