@model WebAppMedicalAssistant_Core.DTO.DoctorDto

<div class="modal-content">
    <div class="modal-header">
        <button class="btn-close" data-bs-dismiss="modal" area-hidden="true"></button>
    </div>
    <h4 class="text-center">Врач</h4>
    <div class="modal-body">
        <dl class="dl-horizontal">
            <dt>Ф.И.О.:</dt>
            <dd>@Html.DisplayFor(model => model.FullNameDoctor)</dd>
            <dt>Специализация:</dt>
            <dd>@Html.DisplayFor(model => model.Specializacion)</dd>
            <dt>Рейтинг:</dt>
            <dd>@Html.DisplayFor(model => model.Rating)</dd>
        </dl>
    </div>
</div>
