@model WebAppMedicalAssistant_Core.DTO.MedicalInstitutionDto

<div class="modal-content">
    <div class="modal-header">
        <button class="close" data-dismiss="modal" area-hidden="true">X</button>
        <h4>Медицинское учреждение</h4>
    </div>
    <div class="modal-body">
        <dl class="dl-horizontal">
            <dt>Название:</dt>
            <dd>@Html.DisplayFor(model => model.NameMedicalInstitution)</dd>
            <dt>Адрес:</dt>
            <dd>@Html.DisplayFor(model => model.Adress)</dd>
            <dt>Режим работы:</dt>
            <dd>@Html.DisplayFor(model => model.OperatingMode)</dd>
            <dt>Контакты:</dt>
            <dd>@Html.DisplayFor(model => model.Contact)</dd>
        </dl>
    </div>
</div>