@model IEnumerable<WebAppMedicalAssistant_Core.DTO.DoctorVisitDto>
@{
    ViewData["Title"] = "My Medical Assistant";
    Layout = "_Layout";
}


<h3>
    Напоминания
</h3>
<div>
    @foreach (var item in Model)
    {
        <div class="card col-12 event-card">
            <div class="card-body">
                <h5 class="card-title">Записть к врачу</h5>

                <h6 class="card-subtitle mb-2 text-muted">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
                        <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z" />
                        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z" />
                    </svg>
                    @item.DateVisit.ToString("R")
                </h6>
                @if (item.DiseaseDto != null)
                {
                    <p class="card-text">
                        @item.DiseaseDto.NameOfDisease
                    </p>
                }
                else
                {
                    <p class="card-text">
                        Диагноз не назначен
                    </p>

                }
                @if (item.MedicalInstitution.NameMedicalInstitution != null)
                {
                    <p>
                        @item.MedicalInstitution.NameMedicalInstitution
                    </p>
                }
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
    }
</div>


@*<div id="calendar" style="padding: 1rem;"></div>


@section CssStyles {
    <link rel="stylesheet" href="~/lib/calendar-gs/calendar-gc.css" />
}
@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous">
    </script>
    <script src="~/lib/calendar-gc/calendar-gc.js"></script>

    <script>
            $(function (e) {
            var calendar = $("#calendar").calendarGC({
                dayBegin: 1,
                prevIcon: '&#x3c;',
                nextIcon: '&#x3e;',
                onPrevMonth: function (e) {
                    console.log("prev");
                    console.log(e)
                },
                onNextMonth: function (e) {
                    console.log("next");
                    console.log(e)
                },
                events: [
                    {
                        date: new Date('2022-11-28 20:15:00 GMT+3'),
                        eventName: "Holiday",
                        className: "badge bg-danger",
                        onclick(e, data) {
                            console.log(data);
                        },
                        dateColor: "red"
                    },
                    {
                        date: new Date("2022-11-29"),
                        eventName: "Holiday with wife",
                        className: "badge bg-danger",
                        onclick(e, data) {
                            console.log(data);
                        },
                        dateColor: "red"
                    },
                    {
                        date: new Date("2022-11-30"),
                        eventName: "Working day",
                        className: "badge bg-success",
                        onclick(e, data) {
                            console.log(data);
                        },
                        dateColor: "green"
                    }
                ],
                onclickDate: function (e, data) {
                    console.log(e, data);
                }
            });
        })
    </script>
}
*@