@model UserModel

@{
    ViewData["Title"] = "Удалить пользователя";
    Layout = "_Adminlayout";
}
<div>
    <h4>Вы уверены, что хотите удалить пользователя?</h4>
    <p>@Model.Email</p>
</div>
<form asp-controller="Admin" asp-action="DeleteUser" method="post" asp-route-id="@Model.Id">
    <div></div>
    <input type="submit" class="btn btn-danger m-1" value="Удалить пользователя" />
    <a class="btn btn-outline-primary m-1" role="button" asp-controller="Admin" asp-action="GetUser">Отмена</a>
</form>

@section Scripts
    {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}