@model PhysicalTherapyModel

@{
    ViewData["Title"] = "Добавить физиотерапию";
    Layout = "_Layout";
}

<div>
    <h2>Добавление новой физиотерапии</h2>

    <form asp-controller="PhysicalTherapy" asp-action="Create" method="post">
        <div class="mb-3">
            <label for="NameOfPhysicalTherapy" class="form-label">Название физиотерапии:</label>
            <input asp-for="NameOfPhysicalTherapy" type="text" class="form-control" id="NameOfPhysicalTherapy" required />
            <span asp-validation-for="NameOfPhysicalTherapy" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="DatePhysicalTherapy" class="form-label">Дата физиотерапии:</label>
            <input asp-for="DatePhysicalTherapy" type="date" class="form-control" name="Date" required />
            <span asp-validation-for="DatePhysicalTherapy" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="DatePhysicalTherapy" class="form-label">Время физиотерапии:</label>
            <input asp-for="DatePhysicalTherapy" type="time" class="form-control" name="Time" required />
            <span asp-validation-for="DatePhysicalTherapy" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="MedicalInstitutionId" class="form-label">Медицинское учреждение:</label>
            <select asp-for="MedicalInstitutionId" asp-items="@Model.MedicalInstitutionList"></select>
        </div>
        <div>
            <input asp-for="AppointmentId" type="hidden" />
            <input asp-for="ReturnUrl" type="hidden" />
        </div>
        <input type="submit" class="btn btn-primary m-1" value="Добавить терапию" />
        <a class="btn btn-outline-primary" asp-controller="PhysicalTherapy" asp-action="Index">Отмена</a>
    </form>
</div>

@section Scripts
    {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
