@model PhysicalTherapyModel

@{
    ViewData["Title"] = "Добавить физиотерапию";
    Layout = "_Layout";
}

<div>
    <h2>Добавление новой физиотерапии</h2>

    <form asp-controller="MedicalExamination" asp-action="CreatePhysicalTherapy" method="post">
        <div class="mb-3">
            <label for="NameOfPhysicalTherapy" class="form-label">Название физиотерапии:</label>
            <input asp-for="NameOfPhysicalTherapy" type="text" class="form-control" id="NameOfPhysicalTherapy" required />
            <span asp-validation-for="NameOfPhysicalTherapy" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="StartPhysicalTherapy" class="form-label">Начало физиотерапии:</label>
            <input asp-for="StartPhysicalTherapy" type="date" class="form-control" id="StartPhysicalTherapy" required />
            <span asp-validation-for="StartPhysicalTherapy" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="EndPhysicalTherapy" class="form-label">Окончание физиотерапии:</label>
            <input asp-for="EndPhysicalTherapy" type="date" class="form-control" id="EndPhysicalTherapy" required />
            <span asp-validation-for="EndPhysicalTherapy" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="MedicalInstitutionId" class="form-label">Медицинское учреждение:</label>
            <select asp-for="MedicalInstitutionId" asp-items="@Model.MedicalInstitutionList"></select>
            <a asp-controller="" asp-action="">Добавить медицинское учреждение</a>
        </div>
        <div>
            <input asp-for="AppointmentId" type="hidden" />
            <input asp-for="ReturnUrl" type="hidden" />
        </div>
        <input type="submit" class="btn btn-primary m-1" value="Добавить терапию" />
    </form>
</div>

@section Scripts
    {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
