@model PhysicalTherapyModel
@{
    ViewData["Title"] = "Удаление физиотерапии";
    Layout = "_Layout";
}
<div>
    <h4>Вы уверены, что хотите удалить физиотерапию?</h4>
    <p>@Model.NameOfPhysicalTherapy</p>
    <p>@Model.DatePhysicalTherapy.ToShortDateString()</p>
</div>
<form asp-controller="PhysicalTherapy" asp-action="Delete" method="post" asp-route-id="@Model.Id">
    <div>
        <input type="submit" class="btn btn-danger m-1" value="Удалить физиотерапию" />
        <a class="btn btn-outline-primary m-1" role="button" asp-controller="PhysicalTherapy" asp-action="Index">Отмена</a>
    </div>
</form>

@section Scripts
    {
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}