@model MedicalInstitutionModel

@{
    ViewData["Title"] = "Добавить медицинское учреждение";
    Layout = "_Layout";
}

<div>
    <h2>Добавление нового медицинского учреждения</h2>

    <form asp-controller="MedicalInstitution" asp-action="Create" method="post">
        <div class="mb-3">
            <label for="NameOfAnalysis" class="form-label">Название медицинского учреждения:</label>
            <input asp-for="NameMedicalInstitution" type="text" class="form-control" id="NameMedicalInstitution" required />
            <span asp-validation-for="NameMedicalInstitution" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="Adress" class="form-label">Адрес:</label>
            <textarea asp-for="Adress" class="form-control" id="Adress" rows="2" required></textarea>
            <span asp-validation-for="Adress" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="OperatingMode" class="form-label">Режим работы:</label>
            <textarea asp-for="OperatingMode" class="form-control" id="OperatingMode" rows="2"></textarea>
        </div>
        <div class="mb-3">
            <label for="Contact" class="form-label">Контакты:</label>
            <textarea asp-for="Contact" class="form-control" id="Contact" rows="3"></textarea>
        </div>
        <div>
            <input asp-for="ReturnUrl" type="hidden" />
        </div>
        <input type="submit" class="btn btn-primary m-1" value="Добавить медицинское учреждение"/>
    </form>
</div>

@section Scripts
    {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
